{% extends 'budget/base.html' %}

{% block content %}

<div class="container">
    <section class="section section-stats">
        <div class="row">
            <div class="col s12 m12 l4">
                <div class="card-panel">
                    <h5>Total budget</h6>
                    <h1>$3000</h1>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card-panel">
                    <h5>Total budget</h6>
                    <h1>$3000</h1>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card-panel">
                    <h5>Total budget</h6>
                    <h1>$3000</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-expanses">
        <div class="row">
            <button class="btn-large waves-effect waves-light right" type="submit" name="action">
                <i class="material-icons left">add_circle</i>
                Add expanse
            </button>
        </div>
        <ul class="z-depth-1">
            <li>
                <div class="card-panel z-depth-0 expanse">
                    <div class="row">
                        <div class="col l6">
                            <span class="title">Front design</span>
                        </div>
                        <div class="col l3">
                            <span class="title">$123</span>
                        </div>
                        <div class="col l">
                            <span class="title">Development</span>
                        </div>
                        <a href="">
                            <i class="material-icons red-text right">close</i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-panel z-depth-0 expanse">
                    <div class="row">
                        <div class="col l6">
                            <span class="title">Front design</span>
                        </div>
                        <div class="col l3">
                            <span class="title">$123</span>
                        </div>
                        <div class="col l">
                            <span class="title">Development</span>
                        </div>
                        <a href="">
                            <i class="material-icons red-text right">close</i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-panel z-depth-0 expanse">
                    <div class="row">
                        <div class="col l6">
                            <span class="title">Front design</span>
                        </div>
                        <div class="col l3">
                            <span class="title">$123</span>
                        </div>
                        <div class="col l">
                            <span class="title">Development</span>
                        </div>
                        <a href="">
                            <i class="material-icons red-text right">close</i>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="card-panel z-depth-0 expanse">
                    <div class="row">
                        <div class="col l6">
                            <span class="title">Front design</span>
                        </div>
                        <div class="col l3">
                            <span class="title">$123</span>
                        </div>
                        <div class="col l">
                            <span class="title">Development</span>
                        </div>
                        <a href="">
                            <i class="material-icons red-text right">close</i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </section>

</div>

{% endblock %}