@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    background: #f5f5f5;
}

.row {
    margin: 0 !important;
}

.section h1 {
    font-size: 4vw;
}

@media(max-width: 992px) {
    .section h1 {
        font-size: calc(16px + 4vw);
    }
}

.section-expenses button {
    padding: 0px 40px;
}

.section-expenses .expense {
    font-size: 16px;
    margin: 0;
}

.section-expenses li:nth-child(even) .expense {
    background: #e4e4e4e4;
}

form ul li.category {
    display: inline-block;
}

.category-list-element {
    padding: 6px 6px !important;
    width: 20vw;
}

@media(max-width: 1024px) {
    .category-list-element {
        width: 30vw;
    }
}

.btnRemove i:hover {
    cursor: pointer;
}

@media(max-width: 600px) {
    form ul li.category {
        display: list-item;
    }

    .category-list-element {
        width: auto;
    }
}